.navbar-default {
	background-color: #334ab2;
	border-color: #203073;
}
.navbar-default .navbar-brand {
	color: #fffffd;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fffffd;
}
.navbar-default .navbar-text {
	color: #fffffd;
}
.navbar-default .navbar-nav > li > a {
	color: #fffffd;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fffffd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fffffd;
	background-color: #203073;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fffffd;
	background-color: #203073;
}
.navbar-default .navbar-toggle {
	border-color: #203073;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #203073;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fffffd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #fffffd;
}
.navbar-default .navbar-link {
	color: #fffffd;
}
.navbar-default .navbar-link:hover {
	color: #fffffd;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fffffd;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fffffd;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fffffd;
		background-color: #203073;
	}
}
.navicon {
	margin-right: 10px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}